.keyboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #837169;
    width: 605px;
    height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.665);
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.keyboard_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    align-items: center;
    height: 40px;
}

.row_key {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background-color: #8e7e76;
    font-size: 26px;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.4);
    width: 45px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.enter_clear {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.enter_key {
    background-color: #8e7e76;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 15%;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.clicked {
    background-color: #9c927b;
}

.wrongletter {
    background-color: rgb(66, 60, 71);
    transition: background-color 0.5s;
}

.rightplace {
    background-color: #3aa394;
    transition: background-color 0.5s;
}

.wrongplace {
    background-color: #d3ad69;
    transition: background-color 0.5s;
}

.logState {
    position: absolute;
    top: 5px;
    right: 5px;
}
